---
layout: default
title: Boxing Week Sale at Co-op@home
---

<div id="home">
  <h1 class="hero-title">BOXING WEEK SALE</h1>
  
  <h3>Sale starts December 26, 2014</h3>
  
  <script>
	var end = new Date('12/26/2014 07:00 AM');
	
	    var _second = 1000;
	    var _minute = _second * 60;
	    var _hour = _minute * 60;
	    var _day = _hour * 24;
	    var timer;
	
	    function showRemaining() {
	        var now = new Date();
	        var distance = end - now;
	        if (distance < 0) {
	
	            clearInterval(timer);
	            document.getElementById('countdown').innerHTML = 'EXPIRED!';
	
	            return;
	        }
	        var days = Math.floor(distance / _day);
	        var hours = Math.floor((distance % _day) / _hour);
	        var minutes = Math.floor((distance % _hour) / _minute);
	        var seconds = Math.floor((distance % _minute) / _second);
	
	        document.getElementById('countdown').innerHTML = days + 'days ';
	        document.getElementById('countdown').innerHTML += hours + 'hrs ';
//      			        document.getElementById('countdown').innerHTML += minutes + 'mins ';
//      			 	document.getElementById('countdown').innerHTML += seconds + 'secs';
	    }
	
	    timer = setInterval(showRemaining, 1000);
	</script>
	<div id="countdown"></div>
  	
 <!-- 	{% for post in site.categories[sealy] %}
  			<div class="product">
  				{% if post.image %}
  	  			<img src="/assets/{{post.image}}" alt="{{post.title}}"/>
  	  		{% endif %}
  				<span class="product-brand">{{ post.brand }}</span>
  				<span class="product-title">{{ post.title }}</span>
  				{% if post.reg %}
  				<span class="product-reg">REG ${{ post.reg }}</span>
  			{% endif %}
  			{% if post.save %}
  				<span class="product-save">SAVE ${{ post.save }}</span>
  			{% endif %}
  				<h3 class="product-price">${{ post.price }}</h3>
  			</div>
  	{% endfor %}
  	
	{% for post in site.categories[ashley] %}
  		<div class="product">
  			{% if post.image %}
	  			<img src="/assets/{{post.image}}" alt="{{post.title}}"/>
	  		{% endif %}
  			<span class="product-brand">{{ post.brand }}</span>
  			<span class="product-title">{{ post.title }}</span>
  			{% if post.reg %}
				<span class="product-reg">REG ${{ post.reg }}</span>
			{% endif %}
			{% if post.save %}
				<span class="product-save">SAVE ${{ post.save }}</span>
			{% endif %}
  			<h3 class="product-price">${{ post.price }}</h3>
  		</div>
	{% endfor %}-->
	
	{% for post in site.brand[Sealy] %}
		<div class="product">
			{% if post.image %}
  			<img src="/assets/{{post.image}}" alt="{{post.title}}"/>
  		{% endif %}
			<span class="product-brand">{{ post.brand }}</span>
			<span class="product-title">{{ post.title }}</span>
			{% if post.reg %}
			<span class="product-reg">REG ${{ post.reg }}</span>
		{% endif %}
		{% if post.save %}
			<span class="product-save">SAVE ${{ post.save }}</span>
		{% endif %}
			<h3 class="product-price">${{ post.price }}</h3>
		</div>
	{% endfor %}
	{% for post in site.posts %}
		<div class="product">
			{% if post.image %}
				<img src="/assets/{{post.image}}" alt="{{post.title}}"/>
			{% endif %}
			<span class="product-brand">{{ post.brand }}</span>
			<span class="product-title">{{ post.title }}</span>
			{% if post.reg %}
			<span class="product-reg">REG ${{ post.reg }}</span>
		{% endif %}
		{% if post.save %}
			<span class="product-save">SAVE ${{ post.save }}</span>
		{% endif %}
			<h3 class="product-price">${{ post.price }}</h3>
		</div>
	{% endfor %}
  	
</div>